@use '../util' as u;

.container-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: var(--clr-black);
  padding: u.rem(20);
  border-radius: u.rem(10);

  &__display {
    height: u.rem(130);
    margin-bottom: u.rem(20);

    display: flex;
    justify-content: right;
    align-items: flex-end;
  }

  &__result {
    color: var(--clr-white);
    font-size: u.rem(50);
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: u.rem(10);
  }

  &__btn {
    font-size: u.rem(30);
    padding-block: u.rem(15);
    padding-inline: u.rem(25);
    border: none;
    border-radius: 50%;

    &--operator {
      background-color: var(--clr-grey-light);
    }

    &--number {
      background-color: var(--clr-grey-dark);
      color: var(--clr-white);
    }

    &--equal {
      grid-column: 4 / 5;
      grid-row: 2 / 6;
      background-color: var(--clr-orange);
      border-radius: u.rem(20);
      color: var(--clr-white);
    }
  }
}
